{{- define "layouts/login-layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="color-scheme" content="light dark" />
   <title>{{template "title" .}} - streaming-tracker</title>
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/pico.min.css" />
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/styles.css" />
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/spinner.min.css" />
   {{stylesheetIncludes "Stylesheets" .}}

   <script src="/static/js/htmx.min.js"></script>
</head>

<body>
   <main id="mainContent" class="container-fluid">
      {{template "content" .}}
   </main>

   <footer id="page-footer">
      <p>&copy; 2025 Adam Presley</p>
   </footer>

   <script type="module" src="/static/js/spinner-middleware.js"></script>
   {{javascriptIncludes "JavascriptIncludes" .}}
   <script defer src="https://analytics.streaming-tracker.com/script.js"
      data-website-id="e2dfab63-9072-43c2-b4fa-bf501e15e524"></script>
</body>

</html>
{{end}}
