TLD=http://localhost:8081
HOST=localhost:8081
DSN="host=localhost dbname=streamingtracker user=streamingtracker password=password port=5432 sslmode=disable"
DATA_MIGRATION_DIR=./sql-migrations
LOG_LEVEL=debug
PAGE_SIZE=15
QUERY_TIMEOUT=10s

AUTH_PASSWORD=password
SESSION_SECRET=sessionsecret

#
# Email
# 
EMAIL_API_KEY=
EMAIL_DOMAIN=example.com
EMAIL_FROM=noreply@example.com
EMAIL_HOST=localhost
EMAIL_PORT=2500

#
# For Docker Postgres
#
POSTGRES_DB="streamingtracker"
POSTGRES_PASSWORD="password"
POSTGRES_USER="streamingtracker"
