PAGE_SIZE=15

# Set this to your DB path
DSN="host=localhost dbname=streamingtracker user=streamingtracker password=password port=5432 sslmode=disable"

AUTH_PASSWORD=password
SESSION_SECRET=secretpassword

#
# Email
#
EMAIL_API_KEY=""
EMAIL_DOMAIN=""
EMAIL_HOST="localhost"
EMAIL_PORT="2500"

#
# For Docker Postgres
#
POSTGRES_DB="streamingtracker"
POSTGRES_PASSWORD="password"
POSTGRES_USER="streamingtracker"

