{{define "components/dashboard-shows"}}

{{range .Shows}}
<h2>{{.Watcher}}</h2>

<section>
   {{range .Statuses}}
   <h3>{{.Status}}</h3>

   <div class="shows">
      {{range .Shows}}
      <article class="show">
         <div class="show-content">
            <div class="show-poster">
               {{if .PosterImage}}
               <img src="{{.PosterImage}}" alt="{{.ShowName}} poster" loading="lazy">
               {{else}}
               <div class="poster-placeholder">No Image</div>
               {{end}}
            </div>

            <div class="show-details">
               <header>
                  <h4>{{.ShowName}}</h4>
                  <small>{{.PlatformName}}</small>
               </header>

               {{if eq .WatchStatus "Want To Watch"}}
               <p>{{.NumSeasons}} season{{if gt .NumSeasons 1}}s{{end}}</p>
               {{end}}

               {{if eq .WatchStatus "Watching"}}
               <p>Season {{.CurrentSeason}} of {{.NumSeasons}}</p>
               {{end}}
            </div>
         </div>

         <footer>
            {{if eq .WatchStatus "Want To Watch"}}
            <button hx-post="/shows/start-watching?id={{.ShowID}}" hx-target="#dashboard-shows" hx-swap="innerHTML">
               Start Watching
            </button>
            {{end}}

            {{if eq .WatchStatus "Watching"}}
            <button hx-post="/shows/finish-season?id={{.ShowID}}" hx-target="#dashboard-shows" hx-swap="innerHTML"
               class="tertiary" {{if eq .CurrentSeason .NumSeasons}} data-umami-event="Finish Show"
               data-umami-event-show-name="{{.ShowName}}" {{end}}>
               {{if eq .CurrentSeason .NumSeasons}}
               Finish Show
               {{else}}
               Finish Season
               {{end}}
            </button>

            <details class="dropdown">
               <summary role="button" class="secondary">
                  More...
               </summary>
               <ul>
                  <li><a href="#" hx-post="/shows/back-to-want-to-watch?id={{.ShowID}}" hx-target="#dashboard-shows"
                        hx-swap="innerHTML">Back to Want to Watch</a></li>
               </ul>
            </details>
            {{end}}
         </footer>
      </article>
      {{end}}
   </div>
   {{end}}
</section>
{{end}}
{{end}}
