{{define "components/dashboard-shows"}}

{{range .Shows}}
<h3>{{.Watcher}}</h3>

<section>
   {{range .Statuses}}
   <h4>{{.Status}}</h4>

   <div class="shows">
      {{range .Shows}}
      <article class="show">
         <header>
            <h5>{{.ShowName}}</h5>
            <small>{{.PlatformName}}</small>
         </header>

         {{if eq .WatchStatus "Want To Watch"}}
         <p>{{.NumSeasons}} season{{if gt .NumSeasons 1}}s{{end}}</p>
         {{end}}

         {{if eq .WatchStatus "Watching"}}
         <p>Season {{.CurrentSeason}} of {{.NumSeasons}}</p>
         {{end}}

         <footer>
            {{if eq .WatchStatus "Want To Watch"}}
            <button hx-post="/shows/start-watching?id={{.ShowID}}" hx-target="#dashboard-shows" hx-swap="innerHTML">
               Start Watching
            </button>
            {{end}}

            {{if eq .WatchStatus "Watching"}}
            <button hx-post="/shows/finish-season?id={{.ShowID}}" hx-target="#dashboard-shows" hx-swap="innerHTML"
               class="tertiary">
               {{if eq .CurrentSeason .NumSeasons}}
               Finish Show
               {{else}}
               Finish Season
               {{end}}
            </button>
            {{end}}
         </footer>
      </article>
      {{end}}
   </div>
   {{end}}
</section>
{{end}}
{{end}}
